<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="pelatihan">
      <ion-icon name="school"></ion-icon>
      <ion-label>Pelatihan</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="pendaftaran" #pembayaranTab>
      <ion-icon name="reader"></ion-icon>
      <ion-label>Pendaftaran</ion-label>
      <ion-badge *ngIf="jumlahPendaftaran > 0" mode="ios" color="danger">{{jumlahPendaftaran}}</ion-badge>
    </ion-tab-button> -->
    <ion-tab-button tab="master">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Master Data</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
