<ion-content class="ion-padding">
	<ion-grid>
		<ion-row class="header-title ion-margin-bottom ion-align-items-center">
			<ion-col size="auto" class="d-flex">
				<ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
			</ion-col>
			<ion-col>Detail Pelatihan</ion-col>
			<ion-col size="auto">
				<div class="flex-shrink-0">
					<h2 class="ion-no-margin">
						<ion-icon [routerLink]="['/admin/pelatihan/cu', {update: true, id: dataPelatihan?._id}]" name="create-outline" class="mr-2"></ion-icon>
						<ion-icon name="trash-outline" color="danger" (click)="hapus()"></ion-icon>
					</h2>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h3 class="ion-no-margin text-max text-max-2"><b>{{dataPelatihan?.nama}}</b></h3>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				{{dataPelatihan?.deskripsi}}
			</ion-col>
		</ion-row>
		<ion-row class="ion-align-items-center">
			<ion-col size="8">
				<ion-chip class="ion-no-margin" color="primary">
					<ion-label><small>Rp. </small><b>{{dataPelatihan?.biaya | currency:' ':'symbol':'.0':'id'}},-</b></ion-label>
				</ion-chip>	
			</ion-col>
			<ion-col size="4">
				<div class="opacity-4"><small>Tingakatan </small></div>
				<b class="ion-text-capitalize text-max text-max-1">{{dataPelatihan?.tingkatan?.title}}</b>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div>
					<div><small>Waktu Pendaftaran:</small></div>
					<b class="ion-text-capitalize">{{dataPelatihan?.tglPendaftaranMulai | date: 'dd MMM yyy'}} - {{dataPelatihan?.tglPendaftaranAkhir | date: 'dd MMM yyy'}}</b>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div>
					<div><small>Waktu Pelaksanaan:</small></div>
					<b class="ion-text-capitalize">{{dataPelatihan?.tglPelaksanaanMulai | date: 'dd MMM yyy'}} - {{dataPelatihan?.tglPelaksanaanAkhir | date: 'dd MMM yyy'}}</b>
				</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h3 class="c-medium-tint ion-no-margin ion-margin-top"><b>Pemateri</b></h3>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card *ngFor="let p of dataPelatihan?.pemateri" mode="ios" class="ion-no-margin ion-margin-bottom py-2 px-2 mb-2 border-avatar d-flex ion-align-items-center">
					<div class="d-flex ion-align-items-center flex-wrap">
						<ion-avatar class="ion-margin-end flex-shrink-0">
							<img src="https://investor.waskita.co.id/assets/img/no-profile-photo.jpg">
						</ion-avatar>
						<div class="flex-1">
							<div class="text-max text-max-1"><b>{{p.namaLengkap || '-'}}</b></div>
							<div class="text-max text-max-1"><small>{{p.noTlp || '-'}}</small></div>
						</div>
					</div>
				</ion-card>
				<ion-card *ngIf="dataPelatihan?.pemateri?.length < 1" mode="ios" class="py-2 ion-no-margin ion-text-center ion-margin-bottom">Tidak ada pemateri</ion-card>
				<ion-button mode="ios" size="small" color="primary" (click)="tambahPemateri()">Tambah Pemateri</ion-button>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<h3 class="c-medium-tint ion-no-margin ion-margin-top"><b>Peserta</b></h3>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card *ngFor="let p of dataPelatihan?.peserta" mode="ios" class="ion-no-margin ion-margin-bottom py-2 px-2 mb-2 border-avatar d-flex ion-align-items-center">
					<div class="d-flex ion-align-items-center flex-wrap">
						<ion-avatar class="ion-margin-end flex-shrink-0">
							<img src="https://investor.waskita.co.id/assets/img/no-profile-photo.jpg">
						</ion-avatar>
						<div class="flex-1">
							<div class="text-max text-max-1 ion-text-capitalize"><b>{{p.namaLengkap || '-'}}</b></div>
							<div class="text-max text-max-1"><small>{{p.email}}{{p.noKta? ' - ' + p.noKta : ''}}</small></div>
						</div>
					</div>
				</ion-card>
				<ion-card *ngIf="dataPelatihan?.peserta?.length < 1" mode="ios" class="py-2 ion-no-margin ion-text-center ion-margin-bottom">Tidak ada peserta</ion-card>
				<ion-button mode="ios" size="small" color="primary" (click)="tambahPeserta()">Tambah Peserta</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
