<ion-content class="ion-padding-top ion-padding-bottom">
	<ion-grid class="px-0">
		<ion-row class="mb-1 ion-padding-start ion-padding-end ion-align-items-center">
			<ion-col>
				<div class="header-title">Pelajaran</div>
			</ion-col>
			<ion-col size="auto">
				<button class="ion-no-padding ion-no-margin b-none" (click)="cuPelajaran()">
					<ion-note color="primary"><b>+ Tambah</b></ion-note>
				</button>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end">
			<ion-col>
				<div class="c-medium-tint mb-05"><small>Pilih Pelatihan</small></div>
				<div [routerLink]="['/pemateri/pelatihan']" class="border border-card p-1 d-flex ion-align-items-center"  [ngClass]="dataPelatihanAktif? 'border-c-primary c-primary' : 'c-medium-tint'">
					<div class="flex-1 text-max text-max-1 ion-text-capitalize">
						<b *ngIf="dataPelatihanAktif">
							{{dataPelatihanAktif.nama}}
						</b>
						<span *ngIf="!dataPelatihanAktif">Tidak Ada Pelatihan Yang Aktif</span>
					</div>
					<ion-icon name="chevron-down"></ion-icon>
				</div>
			</ion-col>
		</ion-row>
		<!-- <ion-row class="ion-padding-start ion-padding-end">
			<ion-col>
				<div class="c-medium-tint mb-05"><small>Filter</small></div>
				<div class="mb-1 o-auto">
					<div class="d-table-cell">
						<ion-select mode="ios" interface="action-sheet" [interfaceOptions]="{ header: 'Mau lihat status apa?' }" [(ngModel)]="jenis" class="border border-card py-05 px-1 slide-pembelian mr-1">
							<ion-select-option value="semua">Semua Materi</ion-select-option>
							<ion-select-option value="keorganisasian">Materi Keorganisasian</ion-select-option>
							<ion-select-option value="kepemimpinan">Materi Kepemimpinan</ion-select-option>
							<ion-select-option value="sandisimpul">Materi Sandi Dan Simpul</ion-select-option>
							<ion-select-option value="kuesioner">kuesioner Pelatihan</ion-select-option>
						</ion-select>
					</div>
					<div class="d-table-cell">
						<ion-select mode="ios" interface="action-sheet" [interfaceOptions]="{ header: 'Mau lihat status apa?' }" [(ngModel)]="status" class="border border-card py-05 px-1 slide-pembelian mr-1">
							<ion-select-option value="semua">Semua Status</ion-select-option>
							<ion-select-option value="belanja">Belum Dikerjakan</ion-select-option>
							<ion-select-option value="topup">Sudah Dikerjakan</ion-select-option>
						</ion-select>
					</div>
				</div>
			</ion-col>
		</ion-row> -->
		<ion-row>
			<ion-col>
				<ion-searchbar mode="ios" placeholder="Cari Test Atau Materi" class="contain-unset h-auto ion-no-padding ion-padding-start ion-padding-end mb-2"></ion-searchbar>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="dataPelajaran.length < 1" class="ion-padding-start ion-padding-end mb-05">
			<ion-col>
				<ion-card mode="ios" class="ion-no-margin ion-padding">
					<div class="ion-text-center">
						<div class="c-medium-tint mb-05">{{loadingPelajaran == 1? 'Memuat Pelajaran...' : loadingPelajaran == 2? 'Gagal memuat Pelajaran. Pilih pelatihan dan coba lagi' : 'Pelajaran kosong, silahkan pilih pelatihan dan tambahkan Pelajaran.'}}</div>
						<ion-button *ngIf="loadingPelajaran == 0" color="primary" size="small" [disabled]="!dataPelatihanAktif" (click)="cuPelajaran()">+ Tambah Pelajaran</ion-button>
						<ion-spinner *ngIf="loadingPelajaran == 1" name="lines"></ion-spinner>
						<ion-button *ngIf="loadingPelajaran == 2" mode="ios" size="small" color="warning" (click)="ambilPelajaran(dataPelatihanAktif._id)">Coba Lagi</ion-button>
					</div>
				</ion-card>
			</ion-col>
		</ion-row>
		<ng-container *ngFor="let m of dataPelajaran">
			<ion-row class="ion-padding-start ion-padding-end">
				<ion-col class="d-flex ion-align-items-center">
					<h3 class="flex-1 ion-no-margin ion-text-capitalize"><b>{{m.nama}}</b></h3>
					<div class="d-flex ion-align-items-center">
						<h4 class="ion-no-margin mr-1" (click)="m.hide = m.hide? false : true"><ion-icon name="chevron-{{m.hide? 'down' : 'up' }}-outline" color="medium"></ion-icon></h4>
						<h4 class="ion-no-margin mr-1" (click)="cuPelajaran(m)"><ion-icon name="create-outline" color="medium"></ion-icon></h4>
						<h4 class="ion-no-margin opacity-3" (click)="hapusPelajaran(m.nama, m._id)"><ion-icon name="trash-outline" color="danger"></ion-icon></h4>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="!m.hide" class="ion-padding-start ion-padding-end mb-2">
				<ion-col size-sm="4" size="6" *ngFor="let d of m.materi">
					<ion-card [routerLink]="['detail', {idMateri: d._id}]" mode="ios" class="ion-no-margin w-100 h-100">
						<div class="p-relative">
							<div class="d-flex flex-column p-1">
								<div class="flex-1 c-primary mb-1"><b>{{jenisMateri[d.jenis].title}}</b></div>	
								<div *ngIf="d.jenis < 4">
									<div class="mb-05">
										<small class="opacity-3">Pelaksanaan</small>
										<div><small><b>{{d.waktuPelaksanaanMulai | date:'HH:mm'}} - {{d.waktuPelaksanaanAkhir | date:'HH:mm'}} / {{d.tglPelaksanaan | date:'dd MMM yyyy'}}</b></small></div>
										<!-- <div><small><b></b></small></div> -->
									</div>
									<div class="d-flex">
										<div class="flex-1">
											<small class="opacity-3">Durasi</small>
											<div><small><b>{{d.durasiPelaksanaan | date:'HH:mm'}}</b></small></div>
										</div>
										<div class="flex-1" [class.c-danger]="d.soal?.length < 1">
											<small class="opacity-3">Jumlah Soal</small>
											<div><small><b>{{d.soal?.length || 0}} Soal</b></small></div>
										</div>
									</div>
								</div>
								<div *ngIf="d.jenis > 3">
									<div class="mb-05">
										<small class="opacity-3">Nama Materi</small>
										<div><small><b>{{d.namaMateri || '-'}}</b></small></div>
									</div>
									<div>
										<small class="opacity-3">File Materi</small>
										<div [class.c-danger]="!d.materiUrl"><small><b>{{d.materiUrl? 'Tersedia' : 'Kosong'}}</b></small></div>
										<!-- <ion-chip [color]="d.materiUrl? 'success' : 'danger'">{{d.materiUrl? 'Sudah' : 'Belum'}} Upload File</ion-chip> -->
									</div>
								</div>
							</div>
						</div>
					</ion-card>
				</ion-col>
				<ion-col size-md="4" size="6">
					<ion-card mode="ios" class="ion-no-margin h-100">
						<div class="p-relative inborder-c-primary border-card h-100">
							<div [routerLink]="['cu', {idPelajaran: m._id}]" class="h-100 p-1 d-flex flex-column ion-justify-content-center ion-text-center c-primary" style="min-height: 104px;">
								<h3 class="ion-no-margin"><b>+</b></h3>
								<small>Tambah Materi, Pretest, Posttest atau Remidi Posttest</small>
							</div>
							<!-- <ion-img style="pointer-events:none" src="https://via.placeholder.com/150" class="p-absolute w-100 h-100 of-cover"></ion-img> -->
						</div>
					</ion-card>
				</ion-col>
			</ion-row>
		</ng-container>
	</ion-grid>
</ion-content>
