<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="beranda">
      <ion-icon name="home"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="aktifitas">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Aktifitas</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="pelatihan">
      <ion-icon name="school"></ion-icon>
      <ion-label>Pelatihan</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="akun">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
