<ion-content class="ion-padding-top ion-padding-bottom">
	<ion-grid class="px-0">
		<ion-row class="mb-1 ion-padding-start ion-padding-end">
			<ion-col>
				<div class="header-title">Aktifitas</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-searchbar mode="ios" placeholder="Cari Test Atau Materi" class="contain-unset h-auto ion-no-padding ion-padding-start ion-padding-end mb-2"></ion-searchbar>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col class="ion-no-padding">
				<div class="mb-1 ion-padding-start ion-padding-end o-auto">
					<div class="pl-gc pr-gc">
						<div class="d-table-cell">
							<ion-select mode="ios" interface="action-sheet" [interfaceOptions]="{ header: 'Mau lihat status apa?' }" [(ngModel)]="jenis" class="border border-card py-05 px-1 slide-pembelian mr-1">
								<ion-select-option value="semua">Semua Aktifitas</ion-select-option>
								<ion-select-option value="konfirmasi">Pre Test</ion-select-option>
								<ion-select-option value="diproses">Post Test</ion-select-option>
								<ion-select-option value="diproses">Materi</ion-select-option>
								<ion-select-option value="diproses">Lain - lain</ion-select-option>
							</ion-select>
						</div>

						<div class="d-table-cell">
							<ion-select mode="ios" interface="action-sheet" [interfaceOptions]="{ header: 'Mau lihat status apa?' }" [(ngModel)]="status" class="border border-card py-05 px-1 slide-pembelian mr-1">
								<ion-select-option value="semua">Semua Status</ion-select-option>
								<ion-select-option value="belanja">Belum Dikerjakan</ion-select-option>
								<ion-select-option value="topup">Sudah Dikerjakan</ion-select-option>
							</ion-select>
						</div>
					</div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end mb-05">
			<ion-col class="d-flex ion-align-items-center">
				<h5 class="flex-1 ion-no-margin c-medium-tint"><b>Materi Keorganisasian</b></h5>
				<!-- <ion-note [routerLink]="['/', { filter: 'test' }]" color="primary" class="flex-shrink-0">Lihat Semua (10)</ion-note> -->
			</ion-col>
		</ion-row>
		<ion-row class="mb-1">
			<ion-col class="ion-no-padding">
				<ion-slides [options]="{ slidesPerView: 2.5}" class="ion-padding-start ion-padding-bottom ion-padding-end o-visible">
					<ion-slide *ngFor="let card of [0,1,2]; let l = last" class="pl-gc pr-gc">
						<ion-card mode="ios" class="ion-no-margin w-100">
							<div class="p-relative pb-100">
								<ion-img style="pointer-events:none" src="https://via.placeholder.com/150" class="p-absolute w-100 h-100 of-cover"></ion-img>
							</div>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end mb-05">
			<ion-col class="d-flex ion-align-items-center">
				<h5 class="flex-1 ion-no-margin c-medium-tint"><b>Materi Kepemimpinan</b></h5>
			</ion-col>
		</ion-row>
		<ion-row class="mb-1">
			<ion-col class="ion-no-padding">
				<ion-slides [options]="{ slidesPerView: 2.5}" class="ion-padding-start ion-padding-bottom ion-padding-end o-visible">
					<ion-slide *ngFor="let card of [0,1,2]; let l = last" class="pl-gc pr-gc">
						<ion-card mode="ios" class="ion-no-margin w-100">
							<div class="p-relative pb-100">
								<ion-img style="pointer-events:none" src="https://via.placeholder.com/150" class="p-absolute w-100 h-100 of-cover"></ion-img>
							</div>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end mb-05">
			<ion-col class="d-flex ion-align-items-center">
				<h5 class="flex-1 ion-no-margin c-medium-tint"><b>Materi Sandi Dan Simpul</b></h5>
			</ion-col>
		</ion-row>
		<ion-row class="mb-1">
			<ion-col class="ion-no-padding">
				<ion-slides [options]="{ slidesPerView: 2.5}" class="ion-padding-start ion-padding-bottom ion-padding-end o-visible">
					<ion-slide *ngFor="let card of [0,1,2]; let l = last" class="pl-gc pr-gc">
						<ion-card mode="ios" class="ion-no-margin w-100">
							<div class="p-relative pb-100">
								<ion-img style="pointer-events:none" src="https://via.placeholder.com/150" class="p-absolute w-100 h-100 of-cover"></ion-img>
							</div>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
		<ion-row class="ion-padding-start ion-padding-end mb-05">
			<ion-col class="d-flex ion-align-items-center">
				<h5 class="flex-1 ion-no-margin c-medium-tint"><b>kuesioner Pelatihan</b></h5>
			</ion-col>
		</ion-row>
		<ion-row class="mb-1">
			<ion-col class="ion-no-padding">
				<ion-slides [options]="{ slidesPerView: 2.5}" class="ion-padding-start ion-padding-bottom ion-padding-end o-visible">
					<ion-slide *ngFor="let card of [0,1,2]; let l = last" class="pl-gc pr-gc">
						<ion-card mode="ios" class="ion-no-margin w-100">
							<div class="p-relative pb-100">
								<ion-img style="pointer-events:none" src="https://via.placeholder.com/150" class="p-absolute w-100 h-100 of-cover"></ion-img>
							</div>
						</ion-card>
					</ion-slide>
				</ion-slides>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
